%h1 Log in
-if notice
  .row
    %p#notice.alert.alert-info.span4= notice
-if alert
  .row
    %p#notice.alert.alert-error.span4= alert

- content_for(:title) do
  = "Log in"
= form_tag sessions_path do
  .fieldset
    .field
      = label_tag :email
      = text_field_tag :email, params[:email]
    .field
      = label_tag :password
      = password_field_tag :password
    %p
      = link_to "Reset password", new_password_reset_path
  .form-actions
    = submit_tag "Log in", class: 'btn'

