%h1 Log in
= form_tag sessions_path do
  .fieldset
    .field
      = label_tag :email
      = text_field_tag :email, params[:email]
    .field
      = label_tag :password
      = password_field_tag :password
  .form-actions
    = submit_tag "Log in", class: 'btn'

