
.span8.well.comment{:id => "comment_#{comment.id}"}
  %p.username
    = link_to comment.owner.username, comment.owner
    –
    = comment.created_at.strftime( '%b %e, %Y' )
  %p.body
    = comment.body

  - if can? :destroy, comment
    = link_to 'Delete', comment_path(comment), :method => :delete, :remote => true

