%p#notice= notice

- cache do
  %h1
    = @title
    - if params[:tag].present?
      tagged #{params[:tag]}
    - elsif @tagsArray.present?
      tagged #{@tagsArray.to_sentence}
  - content_for(:title) do
    - if params[:sort].present?
      = params[:sort].capitalize
    - elsif params[:tag].present?
      = params[:tag].capitalize
    - elsif @tagsArray
      = @tagsArray.to_sentence.capitalize

  .row
    %form.tag-search{ method:'get', action:('/bits') }
      .span3
        - if params[:sort]
          %input{ type:'hidden', name:'sort', value: params[:sort] }
        %textarea.singleTagBox{ rows: 1, name:'tag' }
      .span3
        %input.btn{ type:'submit' }
  = render "tags"

  .bit-list
    - if @bits.length == 0
      .bit.row
        .well.span2
          No vimbits found
    - @bits.each do |bit|
      .bit.row
        .row
          .span8.row.header
            .vote-box
              %i.icon-arrow-up.upvote{ bit_id: bit.id }

              .vote-count= bit.plusminus.to_s

              %i.icon-arrow-down.downvote{ bit_id: bit.id }
            .title
              %a{ href: url_for( bit ) }
                = bit.title
              .tags
                - bit.tag_list.each do |t|
                  %a.label.label-info.tag{href: '/bits?tag='+t}
                    = t

        .row
          .span8.code
            %pre.prettyprint.linenums= limit_string bit.code
        - if bit.comments.count > 0
          .row
            .span8.comment-summary
              %a{ href: url_for( bit ) }
                = bit.comments.count.to_s + " comments"

      %hr
  = paginate @bits

