%h1 Listing bits

- @bits.each do |bit|
  .row
    .row
      %h4.span8= bit.title
    .row
      %pre.prettyprint.linenums= bit.code
    .row
      .span8= bit.description
    .row
      .span1= link_to 'Show', bit
      .span1= link_to 'Edit', edit_bit_path(bit)
      .span1= link_to 'Destroy', bit, :confirm => 'Are you sure?', :method => :delete
  %hr
= paginate @bits

%br
- if can? :create, Bit
  = link_to 'New Bit', new_bit_path
