
%h1= @title

.row
  .span8
    %form{ method:'get', action:('/bits') }
      - if params[:sort]
        %input{ type:'hidden', name:'sort', value: params[:sort] }
      %textarea.singleTagBox{ rows: 1, name:'tag' }
      %input.btn{ type:'submit' }
= render "tags"

.bit-list
  - @bits.each do |bit|
    .bit.row
      .row
        .span8.row.header
          .vote-box
            %i.icon-arrow-up.upvote{ bit_id: bit.id }

            .vote-count= bit.plusminus.to_s

            %i.icon-arrow-down.downvote{ bit_id: bit.id }
          .title
            %a{ href: url_for( bit ) }
              = bit.title
            .tags
              - bit.tag_list.each do |t|
                %a.label.label-info.tag{href: '/bits?tag='+t}
                  = t

      .row
        .span8.code
          %pre.prettyprint.linenums= limit_string bit.code
      -#.row
        -#.span8= raw limit_string(@markdown.render(bit.description),2,200)
      - if can? :manage, bit
        .row
          .span8.btn-group
            .btn= link_to 'Edit', edit_bit_path(bit)
            .btn= link_to 'Destroy', bit, :confirm => 'Are you sure?', :method => :delete
    %hr
= paginate @bits

