- content_for :head do
  =auto_discovery_link_tag :rss, ('/bits.rss' + (params[:sort] ? '?sort=' + params[:sort] : '' ) )
-if notice
  .row
    %p#notice.alert.alert-info.span4= notice

- cache do
  %h1
    = @title
    - if params[:tag].present?
      tagged #{params[:tag]}
    - elsif @tagsArray.present?
      tagged #{@tagsArray.to_sentence}
  - content_for(:title) do
    - if params[:sort].present?
      = params[:sort].capitalize
    - elsif params[:tag].present?
      = params[:tag].capitalize
    - elsif @tagsArray
      = @tagsArray.to_sentence.capitalize

  .row
    %form.tag-search{ method:'get', action:('/bits') }
      .span3
        - if params[:sort]
          %input{ type:'hidden', name:'sort', value: params[:sort] }
        %textarea.singleTagBox{ rows: 1, name:'tag' }
      .span3
        %input.btn{ type:'submit' }
  = render "tags"

  .bit-list
    - if @bits.length == 0
      .bit.row
        .well.span2
          No vimbits found
    - @bits.each do |bit|
      = render partial: 'bit', locals: { bit: bit }
      %hr
  = paginate @bits

