-content_for :javascript_includes do
  = javascript_include_tag "vote_ui.js"

%p#notice= notice

.bit
  .row
    .span4
      %h3
        %i.icon-arrow-up.upvote{ bit_id: @bit.id }
        %i.icon-arrow-down.downvote{ bit_id: @bit.id }
        = ('(' + @bit.plusminus.to_s + ')')
        = @bit.title
      %span.email
        %i
          = @bit.user.email
        posted this on
        = @bit.created_at.strftime( '%B %e, %Y' )
  %p
    %pre.prettyprint.linenums= @bit.code
  %p
    = raw @markdown.render(@bit.description)
  %p
    - @bit.tag_list.each do |t|
      %a.label.label-info.tag{href: '/bits?tag='+t}
        = t
  %p
    = comments_for @bit
- if can? :update, @bit
  = link_to 'Edit', edit_bit_path(@bit)
  \|
  = link_to 'Back', bits_path
