!!!
%html
  %head
    %title Vimbits
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    -#Google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27863897-2']);
      _gaq.push(['_setDomainName', 'vimbits.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{ href:"/" } Vimbits
        %ul.nav
          %li
            %a{ href:'/bits?sort=top' } Top
          %li
            %a{ href:'/bits?sort=new' } Newest
          %li
            %a{ href:'/bits?sort=rand' } Random
          - if can? :create, Bit
            %li.divider-vertical
            %li
              = link_to 'New Vimbit', new_bit_path
          %li.divider-vertical
          %li
            %a{ href:'/welcome/about' } About
        %ul.nav.pull-right
          - if current_user
            %li
              %a{ href:logout_path } Logout
            %li.divider-vertical
            %li
              .navbar-text
                Logged in as 
                %a{ href:edit_user_path(current_user) }= current_user.email
          - else
            %li
              %a{ href:"/users/new" } Sign Up
            %li.divider-vertical
            %li
              %form.navbar-form.pull-right{ action: "/sessions", method: 'post' }
                %input.input-small{ name: 'email', type: 'text', placeholder: "Email" }
                %input.input-small{ name: 'password', type: 'password', placeholder: "Password" }
                -#%input{ name: 'redirect', type: 'hidden', value: request.url }
                %button.btn{ type: 'submit' } Sign In
  .container
    .row
      .content.span12
        = yield
    %hr
    %footer
      %p
        %a{href:"http://www.kevinkuchta.com"} Kevin Kuchta
        built this.  Complain at him on
        %a{href:"http://www.github.com/kkuchta"} Github
        or
        %a{href:"http://www.twitter.com/kkuchta"} Twitter

