!!!
%html
  %head
    %title Vimbits
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand Vimbits
        %ul.nav
          %li
            %a{ href:'#' } Vimrc
          %li
            %a{ href:'#' } Plugins
          %li
            %a{ href:'#' } Colorschemes
        %ul.nav.pull-right
          - if current_user
            .navbar-text
              Logged in as 
              %a{ href:'#' }= current_user.email
          - else
            %li
              %a{ href:"/users/new" } Sign Up
            %li.divider-vertical
            %li
              - if current_user
              - else
                %form.navbar-form.pull-right{ action: "/sessions", method: 'post' }
                  %input.input-small{ name: 'email', type: 'text', placeholder: "Email" }
                  %input.input-small{ name: 'password', type: 'password', placeholder: "Password" }
                  -#%input{ name: 'redirect', type: 'hidden', value: request.url }
                  %button.btn{ type: 'submit' } Sign In
  .container
    .row
      .span3
        .well
          %ul.nav.nav-list
            %li.nav-header
              Thing1
            %li.active
              %a{ href:'#' } Thing1
            %li
              %a{ href:'#' } Thing2
            %li
              %a{ href:'#' } Thing3
            %li.nav-header
              Thing1
            %li
              %a{ href:'#' } Thing1
            %li
              %a{ href:'#' } Thing2
            %li
              %a{ href:'#' } Thing3
      .content.span9
        = yield

