!!!
%html
  %head
    %title Vimbits
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{ href:"/" } Vimbits
        %ul.nav
          %li
            %a{ href:'/bits' } Bits
          %li
            %a{ href:'/welcome/about' } About
        %ul.nav.pull-right
          - if current_user
            %li
              %a{ href:logout_path } Logout
            %li.divider-vertical
            %li
              .navbar-text
                Logged in as 
                %a{ href:edit_user_path(current_user) }= current_user.email
          - else
            %li
              %a{ href:"/users/new" } Sign Up
            %li.divider-vertical
            %li
              %form.navbar-form.pull-right{ action: "/sessions", method: 'post' }
                %input.input-small{ name: 'email', type: 'text', placeholder: "Email" }
                %input.input-small{ name: 'password', type: 'password', placeholder: "Password" }
                -#%input{ name: 'redirect', type: 'hidden', value: request.url }
                %button.btn{ type: 'submit' } Sign In
  .container
    .row
      .span3.sidebar
        = yield :sidebar
      .content.span9
        = yield

